<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KasirTiketKereta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KasirTiketKereta.Properties.Settings>
            <setting name="idx_tema" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="admin" serializeAs="String">
                <value />
            </setting>
            <setting name="isFirst" serializeAs="String">
                <value>True</value>
            </setting>
        </KasirTiketKereta.Properties.Settings>
    </userSettings>
</configuration>